body {
  font-family: 'Merriweather', Georgia, serif;
}

.nav-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.button-text {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.image-caption {
  font-size: 14px;
  font-weight: 500;
}

.main-title {
  font-family: 'DM Sans', sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -1px;
}

.subheader-text {
  font-family: 'DM Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.body-text {
  font-size: 16px;
  font-weight: 500;
}

.project-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.project-title {
  font-family: 'DM Sans', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}