@font-face {
  font-family: 'Barber';
  src: url('../assets/fonts/Barber-Complete.woff2') format('woff2'),
       url('../assets/fonts/Barber-Complete.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lost Vietnam';
  src: url('../assets/fonts/LostVietnam-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Inter', sans-serif;
}

.nav-title {
  font-family: 'Lost Vietnam', sans-serif;
  font-weight: normal;
  font-size: 28px;
  line-height: 1;
  display: block;
  white-space: nowrap;
}

.main-title {
  font-family: 'Fira Code', monospace;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -1px;
}


.button-text {
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  font-weight: 700;
}

.image-caption {
  font-size: 14px;
  font-weight: 500;
}

.subheader-text {
  font-family: 'Fira Code', monospace;
  font-size: 24px;
  font-weight: 700;
}

.body-text {
  font-size: 16px;
  font-weight: 500;
}

.project-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.project-title {
  font-family: 'Fira Code', monospace;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media only screen and (max-width: 800px) {
  .nav-title {
    font-size: 22px;
  }
}